.info{
    position: absolute;
    top: 5%;
    width: 90%;
    margin-left: 5%;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info-title-text{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(229, 227, 227); 
    border-bottom: 2px solid rgb(248, 244, 244);
    width: 80%;
    text-shadow: 2px 2px 4px #e9e5e5;
    margin: 0%;
}
.info-title-bio{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(229, 227, 227); 
}
.info-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 2px solid rgb(241, 241, 241);
    padding-bottom: 2rem;
}
.info-input-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(229, 227, 227); 
    text-shadow: 2px 2px 4px #e9e5e5;
}
.info-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 2rem;

}
.info-buttons-prev{
    color: black;
    background-color: rgb(229, 227, 227);
}
.info-buttons-next{
    color: black;
    background-color: rgb(229, 227, 227);
}
.info-buttons-next:hover{
    border-radius: 5rem;
    background-color: rgb(86, 196, 88);
}
.info-buttons-prev:hover{
    border-radius: 5rem;
    background-color: rgb(92, 92, 92);
}