.forgotPassword{
    position: absolute;
    top: 20%;
    width: 80%;
    margin-left: 10%;
}
.forgotPassword-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(241, 241, 241);
    border-radius: 2rem;
    padding-bottom: 5%;
}
.forgotPassword-title{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(229, 227, 227); 
    border-bottom: 2px solid rgb(248, 244, 244);
    text-shadow: 2px 2px 4px #e9e5e5;
}
.prompt{
    color: white;
    font-weight: 500;
}
.forgotPassword-inputs{
    color: white;
}
.forgotPassword-input{
    width: 15rem;
    padding: 0.7rem 0.4rem;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    color: rgb(12, 12, 12);
    background-color: rgb(249, 250, 249);
}
.forgotPassword-button-button{
    width: 12.5rem;
    border-radius: 10rem;
    margin-top: 1rem;
    font-weight: 700;
    display: inline;
    background-color: rgb(16, 165, 58);
    color: black;
}