.main {
    margin: -0.5%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
} 
video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-size: 160px;
    color: transparent;
    font-weight: 600;
    transition: 1s;
    -webkit-text-stroke: 2px #fff;
}
.content h1:hover{
    /* -webkit-text-stroke: 2px #fff; */
    color: #fcfcfc;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #f5f5f5;
    font-size: 24px;
    border: 2px solid #f5f5f5;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px
}
.btn{
    border: 1px solid #ffffff;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
.btn:hover{
    color: #ffffff;
    border-color: #ffffff;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}