.create-account{
    position: absolute;
    top: 20%;
    width: 95%;
    margin-left: 2.5%;
}
.create-account-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(252, 248, 248);
    border-radius: 2rem;
}
.create-account-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(251, 251, 251); 
    border-bottom: 2px solid rgb(243, 243, 243);
    text-shadow: 1px 1px 3px #e9e5e5;
}
.create-account-inputs{
    padding: 0.5% 1%;
}
.create-account-input{
    width: 95%;
    padding: 0.7rem 0.4%;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    color: rgb(12, 12, 12);
    background-color: rgb(249, 250, 249);
}
.error-checking2{
    color: red;
    font-size: 0.8rem;
    position: relative;
    bottom: 1rem;
    display: none;
    text-align: center;
}
.error-name-checking{
    color: red;
    font-size: 0.8rem;
    position: relative;
    bottom: 1rem;
    display: none;
    text-align: center;
}
.create-account-inputs-name{
    display: flex;
    width: 96.5%;
    justify-content: space-between;
    align-items: center;
}
.create-account-input-name{

    padding: 0.7rem 0.4%;
    border: 2px solid black;
    border-radius: 0.3rem;
    color: rgb(12, 12, 12);
    background-color: rgb(249, 250, 249);
}
.create-account-button{
    padding-bottom: 3%;

}
.create-account-button-button{
    border-radius: 10rem;
    padding: 0.8rem 5rem;
    margin-top: 1rem;
    font-weight: 700;
    background-color: rgb(16, 165, 58);
    color: black;
}
.create-account-sign-in{
    width: 100%;
    color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.7rem;
}
.create-account-sign-in-title{
    margin-right: 0.5rem;
}